<a href="https://colab.research.google.com/github/sebastianhernandez22/Ejercicios_for/blob/main/Ejercicios_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITIVA FOR

In [ ]:
# EJERCICIO 1: mostrar todos los numeros del 1 al 10, sin usar instrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# EJERCICIO 2: mostrar los numeros del 1 al 10 usando la instruccion while
contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1
  print(contador)

In [ ]:
# EJERCICIO 3: mostrar los numeros del 1 al 10 usando la instruccion for y una lista como iterable

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
# EJERCICIO 4: mostrar los numeros del 1 al 10 usando la instruccion for y la función range

for i in range (1,11):
  print(1)

In [ ]:
# EJERCICIO 5: mostrar una frase 10 veces usando la instruccion for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} sistemas, el mejor!!!!")

In [ ]:
# EJERCICIO 6: mostrar la silaba inicial de los dias de la semana, usando for y una lista con la silaba inicial de los dias de las semana

dias_semana =["lu", "ma", "mie", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

In [ ]:
# EJERCICIO 7: mostrar una lista de distintos tipos de datos, usando for

lista = [1, 3.4, 9, True, "Nestor", 8, "Guanenta"]
for i in lista:
  print(i)

In [ ]:
# EJERCICIO 8: ingresar su nombre y mostrarlo letra por letra, usando for

nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# EJERCICIO 9: ingresar su nombre y mostrarlo letra por letra, usando for cambiando por asterisco * a la vocal e

nombre = input("digite su nombre: ")
for letra in nombre:
  if letra == "e":
    print("*")
  else:
    print(letra)

In [ ]:
# EJERCICIO 10: ingresar su nombre uasando for y mostrarlo letra por letra en mayuscula

nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# EJERCICIO 11: imprimir listas de numeros usando for y range

print("numeros del 0 al 9")
for i in range (10):
  print(i)

print("numeros del 1 al 10")
for i in range (1,11):
  print(i)

print("10 veces la frase")
for i in range (10):
  print("sistemas el mejor")

print("10 veces la frase i = ")
for i in range (10):
  print("i = " + str(i))

print("10 veces la frase i = ")
for i in range (10):
  print(f" i = {1}")

print("rango del 7 al 18, incrementando de 4 en 4")
for i in range(7,17,4):
  print(i)

print("convierte rango en lista a, y la muestra")
a = list(range(1000))
print(a)

# Ejercicios
1. dada la siguiente lista de numeros [20, 21, 30, 41, 50, 51, 201] mostrar en pantalla solo los que NO terminan en 1
2. Mostrar 1000 veces la palabra "programación"
3. del conjunto de cadenas ["E", "F", "M", "A"] que corresponden a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos meses
4. leer un texto y determinar cuántas veces dicho texto contiene cada una de las vocales en minúscula y/o mayúscula

In [ ]:
# EJERCICIO 1: dada la siguiente lista de numeros [20, 21, 30, 41, 50, 51, 201] mostrar en pantalla solo los que NO terminan en 1

lista = [20, 21, 30, 41, 50, 51, 201]
for i in (20, 30, 50):
  print(i)

In [ ]:
# EJERCICIO 2: Mostrar 1000 veces la palabra "programación"

print("Palabra Programacion 1000 veces")
for i in range(1000):
  print("programación")

In [ ]:
# EJERCICIO 3: del conjunto de cadenas C que corresponden a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos meses

cadena = ("E", "F", "M", "A")
for i in range(1):
  if "E":
    print("Enero")
  if "F":
    print("Febrero")
  if "M":
    print("Marzo")
  if "A":
    print("Abril")